
$(document).ready(function() {
        $("p").click(function() {
          $(".walrus-showing").toggle();
          $(".walrus-hidden").toggle();
        });
      });

.walrus-showing {
  display: none;
}

p {
  cursor: pointer;
  color: #0088cc;
}
p:hover {
  text-decoration: underline;
}
